<%- include('../template/head') -%>
   <div class="main-viwes-style">
      <div class="container">
         <main>
            <div class="d-flex p-3 main-container">
               <div class="container">
                  <div class="row">
                     <div class="d-title">
                        <h2>Editar Categoría</h2>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-12 new-register">
                        <form action="/categorias/editar/<%= id %>" method="POST">
                           <div class="mb-3">
                              <label for="name">ID</label>
                              <input class="form-control" type="text" value="<%= id %>" disabled />
                           </div>
                           <div class="mb-3">
                              <label for="name">Nombre</label>
                              <input id="name" class="form-control" type="text" name="name" value="<%= name %>"
                                 required />
                           </div>
                           <button class="btn btn-primary" type="submit">
                              Guardar
                           </button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </main>
      </div>
   </div>
   <%- include('../template/footer-auth') -%>