<%- include('../template/head') -%>
   <main>
      <%- include('../template/sidebar') -%>
         <div class="d-flex p-3 main-container">
            <div class="container">
               <div class="row">
                  <div class="d-title">
                     <h2>Nuevo Estado</h2>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12 new-register">
                     <form action="/estatus" method="POST">
                        <div class="mb-3">
                           <label for="name">Nombre</label>
                           <input id="name" class="form-control" type="text" name="name" required />
                        </div>
                        <button class="btn btn-primary" type="submit">
                           Guardar
                        </button>
                     </form>
                  </div>
               </div>
               <div class="row">
                  <div class="d-title mt-4">
                     <h2>Estados</h2>
                  </div>
               </div>
               <div class="row table-container">
                  <table class="table table-striped">
                     <thead>
                        <tr>
                           <th scope="col">#</th>
                           <th scope="col">Nombre</th>
                           <th scope="col">Acciones</th>
                        </tr>
                     </thead>
                     <tbody>
                        <% status.forEach( (status,i)=> { %>
                           <tr>
                              <th scope="row">
                                 <%= i+1 %>
                              </th>
                              <td>
                                 <%= status.status_name %>
                              </td>
                              <td>
                                 <a href="/estatus/editar/<%= status.id %>" class="btn btn-outline-warning">
                                    <i class="bi bi-pencil"></i>
                                 </a>

                                 <a href="/estatus/borrar/<%= status.id %>" class="btn btn-outline-danger">
                                    <i class="bi bi-trash"></i>
                                 </a>
                              </td>
                           </tr>
                           <% }); %>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
   </main>
   <%- include('../template/footer-auth') -%>